<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>

<p>Reviews:</p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>
